<h4>What does this do?</h4>
<p>
	This stage can be used to calculate the number of jobs, services etc that can be reached from each zone by the given mode, (e.g. car or public transport) within a given travel time threshold, (e.g. 30 minutes).  It can also be used to calculate how many workers, (or customers), live within a given travel time by a given mode of each zone.
</p>

<h4>How does it do it?</h4>
<p>
	For each zone, it uses the travel time matrix to determine which zones are within the given travel time threshold and then sums the number of the relevant land use, e.g. jobs or workers, in those zones and allocates this to the zone.  For example, assume workers living in zone 1 can reach zones 2 and 3 within 30 minutes by PT.  If zone to has 100 jobs and zone 3 has 400 jobs, then zone 1 would be given the value of 500, indicating that workers living in zone 1 could reach 500 jobs in 30 minutes by PT.
</p>

<h4>What data do I need?</h4>
<p>
	The user needs to input:
</p>
<ul>
	<li>
		The required land use data for each zone, (e.g. no. of workers or no. of jobs)
	</li>
	<li>
		The travel time matrix
	</li>
	<li>
		The area of interest split into the required zone system (as GIS shape files)
	</li>
</ul>
<p>
	Note that the third data item was also required for stage 1.  As the stage 1 processing may take some time, the resulting PT travel time matrix is emailed to the user.  It is therefore most likely that the user would revisit the website to conduct stage to and therefore needs to re-enter the required geographical are zone shapefiles. 
</p>
<p>
	Further information on the data requirements is provided by clicking on the Help buttons.
</p>