<h4>What is ADAPT?</h4>
<p>
	ADAPT is a dynamic accessibility planning tool intended for use by land use and transport planners and researchers.  It can determine the level of access different residential areas have to jobs, education and services and businesses have to workers (labour pool) or potential clients/customers.
</p>
<p>
	It has been designed to allow users to select:
</p>
<ul>
	<li>
		the area of interest, e.g. Sydney or London
	</li>
	<li>
		the required zone system, i.e. how the area is split up
	</li>
	<li>
		the service(s) they want to determine accessibility for, e.g. access to jobs or to medical facilities
	</li>
	<li>
		the travel mode, e.g. by car or public transport:
	</li>
	<li>
		the travel time threshold, e.g. within 30 minutes or 45 minutes
	</li>
</ul>
<p>
	There is a two-stage process.  The first stage calculates public transport travel times for the chosen area.  [Note: Currently car travel times cannot be calculated due to there not being publically available and free car travel data.  If/when these data become available this function will be added].
</p>
<p>
	The second stage calculates the accessibility and produces downloadable results in spreadsheets, pdf plots and GIS format.  This stage can be run as a stand-alone process, if the user already has a travel time matrix, or as a second stage after producing the PT travel time matrix
</p>
<p>
	The user can adjust the spatial distribution of the services, e.g. add or move hospitals to outer areas, and see the impacts this would have on accessibility.  Equally, the accessibility benefits of adding new transport infrastructure can also be determined, (via a user input revised PT travel time matrix), and readily seen via the accessibility plots.
</p>