<h4>What does this do?</h4>
<p>
	This stage produces a public transport travel time matrix, i.e. it calculates the time it takes to travel by public transport from the centre of each “zone” in your area of interest to centre of every other zone. The times include the time to walk to the nearest bus stop or train station, the time waiting for the next service to arrive, any times to transfer from one service to another and the time to walk from the destination bus stop / train station to the final destination.
</p>

<h4>How does it do it?</h4>
<p>
	It automatically calculates the geometric centre of each zone from inputted GIS (shape) files.  It then uses public transport service information provided by public transport authorities, (routes and timetables), and a road and rail map to determine the shortest travel time between each origin zone and destination zone, based on the start time selected by the user.
</p>

<h4>What data do I need?</h4>
<p>
	The user needs to input:
</p>
<ul>
	<li>
		The public transport routes and timetables (in GTFS format)
	</li>
	<li>
		A street map covering the area of interest (openstreetmap format)
	</li>
	<li>
		The area of interest split into the required zone system (as GIS shape files)
	</li>
</ul>
<p>
	Further information on these is provided by clicking on the Help buttons. 
</p>