<h4>Who are PATREC?</h4>
<p>
	The Planning and Transport Research Centre (PATREC) is a collaboration between The University of Western Australia, Curtin University, Edith Cowan University, Department of Transport, Main Roads Western Australia and Western Australian Planning Commission.  Its mandate is to conduct collaborative, applied research and teaching in support of policy in the connected spaces of transport and land use planning.  Further information can be found at <a href="www.patrec.uwa.edu.au">www.patrec.uwa.edu.au</a>
</p>
<h4>What is UADI?</h4>
<p>
	The Urban Analytics Data Infrastructure (UADI) project is a collaboration between six Australian universities to develop a website tool to allow users to access a wide range of city quality of life indicators, expand these indicators to their own area of interest and develop their own new indicators.   Further information can be found at <a href="http://www.csdila.unimelb.edu.au/projects/UADI/">www.csdila.unimelb.edu.au/projects/UADI/</a>
</p>
<h4>ADAPT vs UADI</h4>
<p>
	One of the indicators in the UADI tool is accessibility.  The UADI tool, however, requires users to input the travel time matrices, i.e. only undertakes stage 2 of the ADAPT tool.  The public transport travel time matrix produces in Stage 1 of ADAPT can either be used in Stage 2 of ADAPT or as an input directly into the accessibility indicator in UADI, (it is produces in the format required by UADI).
</p>