{% import "bootstrap/wtf.html" as wtf %}
{% from '_macros.html' import form_field %}

<form class="form" method="post" role="form" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{{ wtf.form_errors(form, hiddens="only") }}
	<div class="container">
		{{ form_field(form.zone_shapefiles, help_id='shapefile_help', help_title='Shapefiles') }}
		{{ form_field(form.zone_identifier) }}
		<p id="shp-warning"><font size="3" color="red">Select a shapefile first.</font></p>
		<div class="row" id="mini-loader-container" style="display:none;">		
			<div class="col-md-4 col-md-offset-1"><div class="mini-loader"></div></div>
		</div>
		{{ form_field(form.ttm_file, help_id='ttm_file_help', help_title='TTM File') }}
		{{ form_field(form.zones_file, help_id='zonal_data_help', help_title='Zonal Data File') }}
		{{ form_field(form.submit) }}
	</div class="container">
</form>