{% import "bootstrap/wtf.html" as wtf %}
{% from '_macros.html' import form_field %}

<form class="form" method="post" role="form" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{{ wtf.form_errors(form, hiddens="only") }}
	<div class="container">
		{{ form_field(form.gtfs_file, help_id='gtfs_help', help_title='GTFS Files') }}
		{{ form_field(form.osm_file, help_id='osm_help', help_title='OSM Files') }}
		{{ form_field(form.zone_shapefiles, help_id='shapefile_help', help_title='Shapefiles') }}
		{{ form_field(form.zone_identifier) }}
		{{ form_field(form.zone_crs, help_id='crs_help', help_title='Coordinate Reference Systems') }}
		{{ form_field(form.travel_date, help_id='travel_date_help', help_title='Travel Date') }}
		{{ form_field(form.travel_time, help_id='travel_time_help', help_title='Start Time of Travel') }}
		{{ form_field(form.user_email, help_id='email_help', help_title='Why do we need your email?') }}
		{{ form_field(form.matrix_name) }}
		{{ form_field(form.submit) }}
	</div class="container">
</form>