.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #FFA500; /* Orange */
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}

.mini-loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #FFA500; /* Orange */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
}


@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.invisible {
	display: none;
}

.landing-jumbotron {
	margin-bottom: 0px;
	background-image: url('./perth1.jpg');
	background-position: 0% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.15em 0.15em 0.15em;
	height: 100vh;
}

.section-jumbotron {
	margin-bottom: 25px;
	background-image: url('./perth1.jpg');
	background-position: 0% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.15em 0.15em 0.15em;
	height: 40vh;	
}

.btn-xlg {
	padding: 18px 28px;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 22px;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
}

.btn-download {
	height: 50px;
	width: 200%;
	white-space: normal;
	padding: 5px 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
}
.navbar {
	margin-bottom: 0px;
}

.site-footer {
	background: #f3f3f3;
	margin-top: 20px;
}

.logo {
	padding: 20px;
	display:inline-block;
	max-height:100px;
	width: auto;
	height: auto;
}

.footer-img-holder {
	margin: auto;
}

.jumbotron .landing-title {
	font-size: 600%;	
}

.jumbotron .landing-text {
	font-size: 200%;
}

.jumbotron .section-title {
	font-size: 400%;	
}

.jumbotron .section-text {
	font-size: 200%;
}

.img-row {
	margin-top: 20px;
}

.footer-nav {
	margin-top: 25px;
	vertical-align: middle;
}

.wrapper {
  display: flex;
  justify-content: center;
}