{% import "bootstrap/wtf.html" as wtf %}

{% macro form_field(field, help_id="", help_title="") %}
	<div class="row">
		<div class="col-sm-5">
			{{ wtf.form_field(field) }}
		</div>
		<div class="col-sm-1">
			{% if help_id %}
				<button type="button" class="btn form-help-btn" id="{{help_id}}">
				<span class="glyphicon glyphicon-question-sign"></span>
				</button>
			{% endif %}
		</div>
	</div>
	{% if help_id %}
		{{ form_help_modal(help_id, help_title) }}
	{% endif %}
{% endmacro %}

{% macro form_help_modal(help_id, help_title="") %}
	<div class="modal fade" id="{{help_id}}_modal" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{help_title}}</h4>
				</div>
				<div class="modal-body">
					{% include 'form_help/%s.html' % help_id %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro section_jumbotron(title, subtitle="") %}
<div class="jumbotron center-block text-center section-jumbotron">
	<h1 class="title section-title">{{ title }}</h1>
	{% if subtitle %}
		<p class="subtitle section-text">{{ subtitle }}</p>
	{% endif %}
</div>
{% endmacro %}