{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from '_macros.html' import section_jumbotron %}

{% block title %} ADAPT - A tool for planners {% endblock %}

{% block page_content %}

	{{ section_jumbotron(title="About") }}

	<div class="row">
		<div class="container">
			{% include 'section_info/uadi_info.html' %}
		</div>
	</div>
	
{% endblock %}