{% import "bootstrap/wtf.html" as wtf %}
{% from '_macros.html' import section_jumbotron %}

{% extends "base.html" %}

{% block title %} UADI Travel Time Matrix Maker {% endblock %}

{% block page_content %}
	<script type="text/javascript">
		$(document).ready(function () {
			// $("#{{help_id}}_btn").click(function(){
			$(".form").submit(function(){
				$("#loader").removeClass('invisible');
				$("#results").addClass('invisible');
			});
		});
	</script>	

	{{ section_jumbotron(title="Accessibility Analytics", subtitle="ADAPT") }}

	<div class="row">
		<div class="container">
			<div class="col-sm-6 blog-main">
				{{ wtf.quick_form(form) }}			
			</div>
			<div class="col-sm-6">			
				{% if show_results %}
					<div class="center-block text-center" id="results">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-2">
								<a href="{{ url_for('.fetch_file', filename='accessibility-col.png') }}">
									<button class="btn btn-warning btn-download">
										Download Accessibility Image (.png)
									</button>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-2">
								<a href="{{ url_for('.fetch_file', filename='accessibility-monochrome.png') }}">
									<button class="btn btn-warning btn-download">
										Download Accessibility Image (monochrome) (.png)
									</button>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-2">
								<a href="{{ url_for('.fetch_file', filename='access_table.csv') }}">
									<button class="btn btn-warning btn-download">
										Download Accessibility Table (.csv)
									</button>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-2">
								<a href="{{ url_for('.fetch_file', filename='zones-altered.dbf') }}">
									<button class="btn btn-warning btn-download">
										Download Attribute File (.dbf)
									</button>
								</a>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="loader invisible center-block" id="loader"></div>
			</div>
		</div>
	</div>
	
{% endblock %}