{% from '_macros.html' import section_jumbotron %}

{% extends "base.html" %}

{% block title %} Accessibility Analysis {% endblock %}

{% block page_content %}
	<script>
		$(document).ready(function () {
			// $("#{{help_id}}_btn").click(function(){
			$(".form-help-btn").click(function(){
				var btnId = $(this).attr('id')

				var modalId = btnId + "_modal"

				$("#"+modalId).modal('show');
			});
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('.control-label[for="zone_identifier"]').closest('.form-group').children("p").hide();
			$('.control-label[for="zone_identifier"]').closest('.form-group').children("select").hide();
			// $('#mini-loader-container').hide()
			

			$('#zone_shapefiles').on("change", function(){

				console.log("detected shapefile change");
				$('#shp-warning').hide()
				$('#mini-loader-container').show()

				// var file = document.getElementById('zone_shapefiles').files[0];
				// var form_data = new FormData($('#zone_shapefiles')[0])

				var file = this.files[0];
				var formData = new FormData();
				formData.append('formData', file);

				$.ajax({
					url: "{{ url_for('main.dbf_column_choices') }}",
					type: 'POST',
					data: formData,
					contentType: false,
					processData: false,
					success: function (msg, status, jqXHR) {
						var data = msg;
						$('#zone_identifier').empty();
						// alert(msg['attrs']);
						console.log(msg['attrs'].length);

						for (var i=0, l=msg['attrs'].length; i<l; i++) {
							$('#zone_identifier').append(
								`<option value="${msg['attrs'][i]}">${msg['attrs'][i]}</option>`
							);
						}
						//todo fill opts
						$('#mini-loader-container').hide()
						$('.control-label[for="zone_identifier"]').closest('.form-group').children("p").show();
						$('.control-label[for="zone_identifier"]').closest('.form-group').children("select").show();
						
					},
					error: function () {
						alert("The shapefile that you specified did not contain a valid .dbf file")
					}
				});
			});
		});
	</script>
	
	{{ section_jumbotron(title="Accessibility Analytics", subtitle="ADAPT") }}

	<div class="row">
		<div class="container">
			<div class="col-sm-5 blog-main" id="accessibility_info">
				{% include 'section_info/accessibility_info.html' %}
			</div>
			<div class="col-sm-6 col-sm-offset-1">
				{% include 'forms/access_form.html' %}	
			</div>
		</div>
	</div>
{% endblock %}