{% extends "bootstrap/base.html" %}

{% block title %}TT Matrix Generator{% endblock %}

{% block head %}
	{{ super() }}
	<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		/* Trigger flash modal */
		$(document).ready(function() {
			var messages = "{{ get_flashed_messages() }}";

			if (typeof messages != 'undefined' && messages != '[]') {
				$("#flashed-messages").modal();
			};
		});
	</script>
{% endblock %}

{% block content %}
	<div id="flashed-messages" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<h4>{{ message }}</h4>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</div>
			</div>
		</div>
	</div>

	{% block page_content %} {% endblock %}

	<footer class="footer site-footer">
		<div class="container">	
			<div class="text-center center-block">			
				<div class="row">
					<div class="col-md-4 ">
						<a class="navbar-brand footer-nav" href="{{ url_for('main.index') }}">ADAPT Home</a>
						<a class="navbar-brand footer-nav" href="{{ url_for('main.about')  }}">About</a>
					</div>
					<div class="col-md-4">
<!-- 						<img src="{{ url_for('static', filename='uwa-hires.png') }}" class="logo"> -->
						<img src="{{ url_for('static', filename='patrec.jpg') }}" class="logo">
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}

