{% extends "base.html" %}


{% if error_code == 404 %}
	{% block title %}Page Not Found{% endblock %}

{% else %}
	{% block title %}Something went wrong{% endblock %}
	
{% endif %}

{% block page_content %}
	{% if error_code == 404 %}
		<h1>Page Not Found</h1>
		<p><a href="{{ url_for('.index') }}">Return home</a></p>
	
	{% elif error_code == 500 %}
		<h1>Something went wrong on our end (500)</h1>
		<p><a href="{{ url_for('.index') }}">Return home</a></p>

	{% endif %}
{% endblock %}