{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} ADAPT - A tool for planners {% endblock %}
{% block page_content %}
	<div class="jumbotron center-block text-center landing-jumbotron">
		<div class="container">
			<h1 class="landing-title">ADAPT</h1>
			<p class="landing-text">Automatic Dynamic Accessibility Planning Tool</p>
		</div>
		<div class="container">
			<a href="{{ url_for('main.ttm') }}">
				<button type="button" class="btn btn-outline-warning btn-xlg">Make a travel time matrix</button>
			</a>
			<a href="{{ url_for('main.access') }}">
				<button type="button" class="btn btn-outline-warning btn-xlg">Analyse accessibility data</button>
			</a>
		</div>
	</div>

	<div class="row" id="adapt_info">
		<div class="container">
			{% include 'section_info/adapt_info.html' %}
		</div>
	</div>
	
{% endblock %}