{% from '_macros.html' import section_jumbotron %}

{% extends "base.html" %}

{% block title %} UADI Travel Time Matrix Maker {% endblock %}

{% block page_content %}
	<script>
		$(document).ready(function () {
			// $("#{{help_id}}_btn").click(function(){
			$(".form-help-btn").click(function(){
				var btnId = $(this).attr('id')

				var modalId = btnId + "_modal"

				$("#"+modalId).modal();
			});
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			// $("#{{help_id}}_btn").click(function(){
			$(".form").submit(function(){
				$("#loading-modal").modal({backdrop: 'static', keyboard: false});
			});
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('.control-label[for="zone_identifier"]').closest('.form-group').hide();

			$('#zone_shapefiles').on("change", function(){

				console.log("detected shapefile change");

				// var file = document.getElementById('zone_shapefiles').files[0];
				// var form_data = new FormData($('#zone_shapefiles')[0])

				var file = this.files[0];
				var formData = new FormData();
				formData.append('formData', file);

				$.ajax({
					url: "{{ url_for('main.dbf_column_choices') }}",
					type: 'POST',
					data: formData,
					contentType: false,
					processData: false,
					success: function (msg, status, jqXHR) {
						var data = msg;
						// alert(msg['attrs']);
						console.log(msg['attrs'].length);

						for (var i=0, l=msg['attrs'].length; i<l; i++) {
							$('#zone_identifier').append(
								`<option value="${msg['attrs'][i]}">${msg['attrs'][i]}</option>`
							);
						}
						//todo fill opts
						$('.control-label[for="zone_identifier"]').closest('.form-group').show();
					},
					error: function () {
						alert("The shapefile that you specified did not contain a valid .dbf file")
					}
				});
			});
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover(); 
			
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();

			if (dd<10) {
			  dd = '0'+dd
			} 

			if (mm<10) {
			  mm = '0'+mm
			} 

			today =  dd + '/' + mm  + '/' + yyyy;

			var url = "http://128.199.182.202:3000/";
			
			var citationText = `Bright C, McCarney G, Sun Y, 2017, 'UADI Travel Time Matrix Generator', The University of Western Australia, viewed ${today}, ${url}`;

			$('#citation-btn').attr("data-content", citationText);

		});
	</script>

	<div id="loading-modal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center">
					<div class="loader center-block" id="fidget_spinner"></div>
					<h4>Uploading files</h4>
					<h4>This may take a while - please do not close the browser.</h4>
				</div>
			</div>
		</div>
	</div>

	{{ section_jumbotron(title="Make a Travel Time Matrix", subtitle="ADAPT") }}

	<div class="row">
		<div class="container">	
			<div class="col-sm-5 blog-main" id="ttm_info">
				{% include 'section_info/ttm_info.html' %}
				<div class="row wrapper">
					<button id="citation-btn" class="btn btn-info" data-toggle="popover">
						Cite this work
					</button>
				</div>
				<div class="row wrapper">				
					<p><strong>Contact:</strong> patrec@uwa.edu.au</p>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-1">
				{% include 'forms/ttm_form.html' %}	
			</div>
		</div>
	</div>

{% endblock %}

