{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} UADI Travel Time Matrix Maker {% endblock %}
{% block head %}
	{{ super() }}
	<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {# yeah... #}
{% endblock %}

{% block page_content %}
	<div class="jumbotron">
		<h1 class="title">Travel Time Matrix Generator</h1>
		<p class="subtitle">UWA UADI</p>
	</div>
	<div class="row">
		<div class="col-sm-5 blog-main">
			<h4>What is a travel time matrix?</h4>
			<p>...</p>
			<h4>How does this tool work?</h4>
			<p>...</p>
			<h4>What is the UADI project?</h4>
			<p>...</p>
		</div>
		<div class="col-sm-6 col-sm-offset-1">
			<h1>
			Your travel time matrix is being generated.
			</h1>

			<p>☕ Go and get a cup of coffee! ☕</p>
			<p>You should receive an email in a few minutes.</p>
		
		</div>
	</div>
{% endblock %}