<p>
	Many different spatial, or co-ordinate, reference systems are used around the world.  ADAPT will convert the spatial data (shape files) input by the user into the system required by the program.  To do this the user needs to input the epsg number of their reference system. The user should ask their GIS person for this number.  Alternatively the user could go to <a href="http://spatialreference.org/ref/epsg">http://spatialreference.org/ref/epsg</a> and search for the epsg number. 
</p>
<p>
	The shape file reference system can be found in the .prj (projection) file which is one of the shapes files.  This can be opened with Notepad and the reference system is directly after PROJCS.  In the example below it is GDA_1994_MGA_Zone_50.
</p>