<p>
	This program requires the public transport services information, routes and timetables, to be input in the General Transit Feed Specification (GTFS) format.  This is a format commonly used throughout the world by many public transit agencies and is readily available for downloading and use on their websites.  Further information on GTFS can be found at:
</p>
<p>
	<a href="https://en.wikipedia.org/wiki/General_Transit_Feed_Specification ">en.wikipedia.org/wiki/General_Transit_Feed_Specification </a>
</p>
<p>
	The easiest way to obtain the GTFS data for your area of interest is to simply type <strong style="color: red;">[city of interest] + GTFS</strong> into Google or another search engine.  Alternatively, the below link has a large library of GTFS files for cities around the world <a href="https://transit.land/feed-registry/">transit.land/feed-registry/</a>
</p>
<p>
	The downloaded GTFS file should be a .zip file (i.e. all the required files have been “zipped” together to make the total size smaller and easier to download).  This .zip does not need to be unzipped – the program will do this for you!
</p>