<p>
	This program uses open street map as the transport network (road and rail) for overlaying the public transport route information, (as contained in the GTFS file).  OpenStreetMap is a free map of the whole world.  Further information is available at: <a href="https://en.wikipedia.org/wiki/OpenStreetMap">en.wikipedia.org/wiki/OpenStreetMap</a> 
</p>
<p>
	The user does not need to use or even understand OpenStreetMap.  They simply need to upload their required area from OpenStreetMap into the program.  Maps covering a wide range of cities around the world are available at: <a href="http://download.bbbike.org/osm/bbbike">download.bbbike.org/osm/bbbike</a> 
</p>
<p>
	If your area is not included, it can be extracted at <a href="http://extract.bbbike.org">extract.bbbike.org</a> 
</p>