<p>
	A travel time matrix must be input for the required travel mode, e.g. car or public transport, and travel time period, e.g. AM peak.  These matrices should contain the time to travel from every zone within the selected zone system to every other zone, for the given time period by the given mode.  Generally times are calculated from zone centroid to zone centroid, the centroid being either the geographical centre or a centre weighted by a land use parameter, e.g. by population.  The Travel Time Matrix Generator in ADAPT can be used to produce public transport travel times but other the travel times for other modes need to be produced externally and then input b the user.
</p>
<p>
	The matrices should be in csv format with the first column being the origin zone number and the first row the destination zone number, per table below.  Trip times are then read from origin zone to destination zone, e.g from zone 1 to zone 8 takes 25 minutes and the reverse journey, 8 to 1, takes 20 minutes, (the yellow highlighted cells).
</p>
<p>
	<strong>
		Example Travel Time Matrix
	</strong>
</p>

<img src="{{ url_for('static', filename='ttm_example.png') }}">