<p>
	Users are to provide zonal land use data consistent with their zone system in csv format consist with the table below.  Note that the first line of the file should be Zone followed by the land use type names, i.e. there should not be prior lines of text.
</p>

<p>
	The land use data types input will depend upon the objectives of the user but, as a minimum, are likely to include for each zone:
</p>

<ul>
	<li>
		Labour force, (i.e. no. of people living in the zone that are working or available for work)
	</li>
	<li>
		No of jobs
	</li>
</ul>

<p>
	These would allow the access to jobs and access to workers (labour pool) indicators to be produced.  Other useful land use data could include:
</p>

<ul>
	<li>
		No. of retail jobs  / retail floor space – for access to shopping
	</li>
	<li>
		No. of health jobs – as a proxy for access to health services
	</li>
	<li>
		No. of tertiary places – access to tertiary education
	</li>
	<li>
		No. of secondary school places – access to secondary education
	</li>
</ul>

<p>
	<strong>Example Zonal Land Use Table</strong>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ZONE</th>
			<th>Dwellings</th>
			<th>Population</th>
			<th>Children</th>
			<th>Labour Force</th>
			<th>Jobs</th>
		</tr>
	</thead>
	<tbody>	
	<tr>
		<th scope="row">1</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>200</td>
	</tr>
	<tr>
		<th scope="row">2</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>10</td>
	</tr>
	<tr>
		<th scope="row">3</td>
		<td>293</td>
		<td>620</td>
		<td>123</td>
		<td>248</td>
		<td>100</td>
	</tr>
	<tr>
		<th scope="row">4</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<th scope="row">5</td>
		<td>740</td>
		<td>1438</td>
		<td>344</td>
		<td>591</td>
		<td>500</td>
	</tr>
	</tbody>
</table>